
* {

}

body {
    background-color: lightgrey;

}

.centerPicture{
    display:block;
    margin:0 auto;
}

#container {
    width: 960px;
    margin: auto;
}

/* CSS för sidornas header */
header h1 {
    font-family: Candal,sans-serif;
    color: darkblue;
}

header h2 a {
    text-decoration: none;
}

header #topleft h2 {
    margin: 0 5px;
    float: right;
    display: block;
    font-family: Montserrat, sans-serif;
    color: white;
    border: 1px solid black;
    background-color: darkblue;
    font-size: 30px;
    padding:4px 5px;

}

header form {
    margin: auto;
    width: 960px;
    height: 30px;
}

header form input {
    margin: 20px 3px;
}

/* CSS för menyrad */
nav h2 {
    display: inline-block;
    margin: 0 8px;
    width: 170px;
    text-align: center;
    border: 1px solid black;
    background-color: darkblue;
    color: white;
    font-size:30px;
    font-family: Montserrat, sans-serif;
}

nav h2 a {
    text-decoration: none;
}

/* CSS för bilder */

@media screen and (min-width : 1224px) {

    #row {
        float: right;

    }

    section .rightpicture img {
        width: 400px;
        height: 300px;
    }
}



section .rightpicture {
    border: 1px black solid;
    padding: 5px 5px 0 5px;
    margin: 10px 0 10px 5px;
    background-color: darkblue;
    display: block;
}



section .unslider {
    margin: 100px 0 0 0;
}

@media screen and (min-width : 1224px) {

    section #leftpicture {
        background-color: darkblue;
        border: 1px solid black;
        width: 500px;
        height: 620px;
        float: left;
        display: block;
        padding: 5px 5px 5px 5px;
        margin: 10px 0 10px 5px;
    }

    section #leftpicture #my-slider ul li img {
        width: 500px;
        height: 500px;
        display: block;
        margin:auto;
    }

}

@media screen and (max-width : 1224px) {



        #row {
            width: 100%;
            margin: auto;
        }

        section .rightpicture img {
            width: 400px;
            height: 300px;
            margin: auto;
        }



    section #leftpicture {
        background-color: darkblue;
        border: 1px solid black;
        width: 100%;
        height: 620px;
    }

    section #leftpicture #my-slider ul li img {
        width: 500px;
        height: 500px;
        display: block;
        margin:0 auto;
    }

    section #leftpicture #my-slider ul {
        margin:auto;
    }
}

/* Css för produktsidornas bilder */

#productPictures img {
    height:300px;
    width: 410px;
    margin: 20px 20px;
    padding: 10px;
}

#productPictures .PictureBorders {
    background-color: darkblue;
    border: 1px solid black;
}

#productPictures {
    margin:auto;
}
