
* {                                                 /* Blev mycket repetition av denna kod, så valde att göra det */
    border-radius:10px;                             /* till standard */
    font-family: Montserrat, sans-serif;
    color:white;
}

* input {                                           /* I detta fall blev det dock för fult med radius */
    border-radius:0;
}

body {
    background-color: lightgrey;

}

.centerPicture{
    display:block;
    margin:0 auto;
}

#container {                              /* Allt är centrerat på sidan i en box som är 960px */
    width: 960px;
    margin: auto;
}

/* CSS för sidornas header */
header h1 {
    font-family: Candal,sans-serif;
    color: darkblue;
}

header h2 a {
    text-decoration: none;
}

header #topright h2 {
    margin: 0 5px;
    float: right;
    display: block;
    border: 1px solid black;
    background-color: darkblue;
    font-size: 25px;
    padding:4px 5px;

}

header form {
    margin: auto;
    width: 960px;
    height: 30px;
}

header form input {
    margin: 20px 3px;
    color:black;
}

/* CSS för menyrad */

nav {
    margin:0 0 0 30px;
}

nav h2 {
    display: inline-block;
    margin: 0 auto;
    width: 18.5%;
    text-align: center;
    border: 1px solid black;
    background-color: darkblue;
    font-size:30px;
}

nav h2 a {
    text-decoration: none;
}

/* CSS för bilderna på sidorna med flera produkter och startsidan */

section .rightpicture {
    border: 1px black solid;
    padding: 5px 5px 0 5px;
    margin: 10px 0 10px 5px;
    background-color: darkblue;
    display: block;
}



section .unslider {
    margin: 100px 0 0 0;
}

@media screen and (min-width : 1224px) {

    #row {
        float: right;

    }

    section .rightpicture img {
        width: 400px;
        height: 300px;
    }                                               /* Då jag skriver min-width försöker jag påverka datorer */
                                                    /* Medan max-width används för Telefon/Ipad. */
    section #leftpicture {                          /* I de flesta fall ändrar jag bara storleken på bilder */
        background-color: darkblue;                 /* Samt storleken på fonten i texten. */
        border: 1px solid black;                    /* Mycket kod upprepas helt enkelt två gånger, men jag */
        width: 500px;                               /* tycker att det var simplare att helt dela på de olika */
        height: 620px;                              /* koderna för att göra det lättare att läsa. Dock så blir det */
        float: left;                                /* hyfsat mycket mera kod av det hela. */
        display: block;
        padding: 5px 5px 5px 5px;
        margin: 10px 0 10px 5px;
    }

    section #leftpicture #my-slider ul li img {
        width: 500px;
        height: 500px;
        display: block;
        margin:auto;
    }

}

@media screen and (max-width : 1224px) {



        #row {
            width: 100%;
            margin: auto;
        }

        section .rightpicture img {
            width: 400px;
            height: 300px;
            margin: auto;
        }



    section #leftpicture {
        background-color: darkblue;
        border: 1px solid black;
        width: 100%;
        height: 620px;
    }

    section #leftpicture #my-slider ul li img {
        width: 500px;
        height: 500px;
        display: block;
        margin:0 auto;
    }

    section #leftpicture #my-slider ul {
        margin:auto;
    }
}

/* Css för produktsidornas bilder */

#productPictures img {
    height:300px;
    width: 400px;
    margin: 20px 10px 0 20px;

}

#productPictures .PictureBorders {
    background-color: darkblue;
    border: 1px solid black;
}

#productPictures .PictureBorders h2 {
    text-align:center;
}

.PictureBorders {
    width:45%;
    margin:20px;
    float:left;

}

#productPictures {
    margin:auto;
    width:100%;
}


/* CSS för produktsidorna som endast har en produkt */

@media screen and (min-width : 1224px) {

    #produktsida {
        border: 1px solid black;
        background-color: darkblue;
        overflow: auto;
        margin: 30px 0;
        padding:10px;
    }


    #produktsida #produktleft {
        width: 460px;
        float: left;
    }

    #produktsida #produktright {
        width: 460px;
        float: right;
    }

    #produktsida img {
        margin: 30px 20px 0 20px;
        padding: 10px 30px;
        float: left;
    }

    #produktsida #namn h2 {
        text-align:center;
        font-size:30px;
    }

    #produktsida #pris {
        float: left;
        margin: 20px 10px 20px 70px;
        font-size: 25px;
    }

    #produktsida a {
        margin: 55px 15px 20px 15px;
        border: 2px ridge white;
        text-decoration: none;
        padding: 5px;
        background-color: blue;
        float: left;
    }

}

@media screen and (max-width : 1224px) {

    #produktsida {
        border: 1px solid black;
        background-color: darkblue;
        overflow: auto;
        margin: 30px 0;
        padding:20px;
    }

    #produktsida img {
        margin: 30px auto;
        padding: 10px 30px;
        float:left;

    }

    #produktsida #namn h2 {
        text-align:center;
        font-size:40px;
    }

    #produktsida #pris {
        margin: 50px 100px 10px 50px;
        font-size: 25px;
        float:right;
    }

    #produktsida a {
        margin: 10px 120px 100px 50px;
        border: 2px ridge black;
        text-decoration: none;
        padding: 30px;
        font-size:30px;
        background-color: blue;
        float: right;
    }

    #produktsida article h2 {
        margin:25px 15px 15px 15px;
        float:left;
        font-size:50px;
    }

    #produktsida article p {
        margin:5px 15px 5px 15px;
        float:left;
    }

    #produktsida #produktleft {
        width: 100%;
        float: left;
    }

    #produktsida #produktright {
        width: 100%;
        float: right;
    }
}

/* CSS för supportsidans formulär och bild */

@media screen and (min-width : 1224px) {

    #rightside {
        float: right;
        margin: 20px 0;
        width:45%;
    }

    #leftside {
        float: left;
        background-color: darkblue;
        margin: 20px 0;
        border: 1px solid black;
        width:45%;
    }

    #rightside img {
        width: 100%;
        margin: 20px 10px;
        border: 1px ridge black;
        float:right;
    }

    #leftside form {
        margin: 20px 10px;
        width: 95%;
    }

    #leftside input {
        margin: 10px 5px;
        color: black;
    }

    #leftside textarea {
        height: 100px;
        width: 300px;
        margin: 10px 0;
        border-radius: 0;
        color:black;
    }

    #leftside a {
        float: right;
        margin: 20px;
        text-decoration: none;
        font-size: 20px;
        border: 1px ridge black;
        background-color: blue;
        padding: 5px;
    }

    #leftside #textlabel {
        vertical-align: top;
    }

}

@media screen and (max-width : 1224px) {

    #rightside {
        float: left;
        margin: 20px 0;
    }

    #leftside {
        float: left;
        background-color: darkblue;
        margin: 20px auto;
        border: 1px solid black;
        width:100%;
    }

    #rightside img {
        width: 800px;
        height:600px;
        margin: 20px 75px;
        border: 1px ridge black;
    }

    #leftside form {
        margin: auto;
        width: 100%;
    }

    #leftside input {
        margin: 10px 5px;
        color: black;
        width:300px;
        height:30px;
    }

    #leftside #knapp {
        margin: 10px 5px;
        color: black;
        width:50px;
    }

    #leftside #special {
       display:inline;
    }

    #leftside legend {
        font-size:30px;
    }

    #leftside fieldset {
        margin:10px;
        padding:10px;
    }

    #leftside label {
        font-size:40px;
        width:300px;
        display:block;
        margin:5px;
    }

    #leftside textarea {
        height: 100px;
        width: 100%;
        margin: 10px 0;
        border-radius: 0;
        color:black;
    }

    #leftside a {
        float: right;
        margin: 20px;
        text-decoration: none;
        font-size: 40px;
        border: 1px ridge black;
        background-color: blue;
        padding: 10px;
    }

    #leftside #textlabel {
        vertical-align: top;                /* Får helt enkelt texten vid textarean att hålla sig till toppen av lådan */
    }

}

/* CSS för tack sidan */

@media screen and (min-width : 1224px) {

    #tacksida {
        width: 960px;
        margin: auto;
    }

    #tacksida h1 {
        color: darkblue;
        text-align: center;
        font-family: Candal, sans-serif;
    }

    #tacksida a {
        background-color: darkblue;
        border: 1px ridge black;
        text-decoration: none;
        padding: 5px;
        margin: 100px 50px 100px 375px;
    }

}

@media screen and (max-width : 1224px) {

    #tacksida {
        width: 960px;
        margin: auto;
    }

    #tacksida h1 {
        color: darkblue;
        text-align: center;
        font-family: Candal, sans-serif;
    }

    #tacksida a {
        background-color: darkblue;
        border: 1px ridge black;
        text-decoration: none;
        padding: 5px;
        font-size:40px;
        margin: 100px 50px 100px 275px;
    }

}

/* CSS för Kundvagnen */

@media screen and (min-width : 1224px) {

    #firstleft {
        float: left;
        width: 70%;
        background-color: darkblue;
        border: 2px solid black;
        margin: 20px 0 20px 20px;
        padding: 10px;
    }

    #firstleft #varor {
        border: 1px solid black;
        border-radius: 0;
        margin: -10px; /* Negativ margin som gör att bordern går ihop med den yttre bordern trots att det finns en padding */
        padding: 10px;
        float: left;
        width: 100%;
    }

    #firstleft .secondleft {
        float: left;
        width: 50%;
    }

    #firstleft .secondright {
        float: right;
        width: 15%;
    }

    #firstleft #varor #thirdleft {
        float: left;
    }

    #firstleft #varor #thirdleft h2 {
        margin: 40px 0;
    }

    #firstleft #varor #thirdright {
        float: right;
    }

    #firstleft #varor #thirdright h2 {
        margin: 40px 0;
    }

    #firstright {
        float: left;
        width: 20%;
        margin: 120px 0;
    }

    #firstright a {
        text-decoration: none;
        border: 1px solid black;
        background-color: darkblue;
        padding: 10px;
        font-size: 20px;
        margin: 10px 40px;
        float: left;
    }

    #alone {
        text-decoration: none;
        border: 1px solid black;
        background-color: darkblue;
        padding: 10px;
        font-size: 50px;
        float: left;
        margin: 0;
        width:17%;

    }

}

@media screen and (max-width : 1224px) {

    #firstleft {
        float: left;
        width: 60%;
        background-color: darkblue;
        border: 2px solid black;
        margin: 20px 0 20px 20px;
        padding: 10px;
    }

    #firstleft #varor {
        border: 1px solid black;
        border-radius: 0;
        margin: -10px;
        padding: 10px;
        float: left;
        width: 100%;
    }

    #firstleft .secondleft {
        float: left;
        width: 50%;
        font-size:30px;
    }

    #firstleft .secondright {
        float: right;
        width: 25%;
        font-size:30px;
    }

    #firstleft #varor #thirdleft {
        float: left;
    }

    #firstleft #varor #thirdleft h2 {
        margin: 40px 0;
        font-size:30px;
    }

    #firstleft #varor #thirdright {
        float: right;
    }

    #firstleft #varor #thirdright h2 {
        margin: 40px 0;
        font-size:30px;
    }

    #firstright {
        float: left;
        width: 30%;
        margin: 120px 0;
    }

    #firstright a {
        text-decoration: none;
        border: 1px solid black;
        background-color: darkblue;
        padding: 10px;
        font-size: 30px;
        margin: 15px 10px;
        float: left;
    }

    #alone {
        text-decoration: none;
        border: 1px solid black;
        background-color: darkblue;
        padding: 10px;
        font-size: 60px;
        float: left;
        margin: auto;
    }

}


/* CSS för OmOss sidan */

@media screen and (min-width : 1224px) {

    #OmOss {
        background-color: darkblue;
        border: 1px solid black;
        overflow: auto;
        margin: 25px 0;
        padding: 15px;
    }

    #OmOss #topleft {
        float: left;
        width: 45%;
    }

    #OmOss #big {
        float: right;
        width: 45%;
        margin: 100px 30px;
        text-align: center;
    }

    #OmOss img {
        float: left;
        clear: left;
        width: 450px;
        height: 250px;
        border: 1px solid black;
    }

    #OmOss #bottomright {
        float: right;
        width: 47%;
    }

}

@media screen and (max-width : 1224px) {

    #OmOss {
        background-color: darkblue;
        border: 1px solid black;
        overflow: auto;
        margin: 25px 0;
        padding: 30px;
    }

    #OmOss #topleft {
        float: left;
        width: 100%;
    }

    #OmOss h2 {
        font-size:30px;
    }

    #OmOss p {
        font-size:20px;
    }

    #OmOss #big {
        float:left;
        width: 100%;
        margin: 50px 0;
        font-size:50px;
        text-align: center;
    }

    #OmOss img {
        float: left;
        width: 80%;
        border: 1px solid black;
        margin:10%;
    }

    #OmOss #bottomright {
        float: left;
        width: 100%;
    }

}


/* CSS för footer */

@media screen and (min-width : 1224px) {

    footer {
        background-color: darkblue;
        border: 1px solid black;
        width: 95%;
        height: 200px;
        float: right;
        padding: 20px;
        margin: 20px 0;
    }

    footer h2 {
        float: left;
        clear: both;
        width: 100%
    }

    footer #leftp {
        float: left;
        font-size: 20px;
    }

    footer #rightp {
        float: right;
        font-size: 20px;
    }

}

@media screen and (max-width : 1224px) {

    footer {
        background-color: darkblue;
        border: 1px solid black;
        width: 95%;
        height: 200px;
        float: right;
        padding: 20px;
        margin: 20px 0;
    }

    footer h2 {
        float: left;
        clear: both;
        width: 100%;
        font-size:30px;
    }

    footer #leftp {
        float: left;
        font-size: 20px;
    }

    footer #rightp {
        float: right;
        font-size: 20px;
    }

}